/**
    Style for CSV Importer plugin
 */

#csv-importer {
    max-width: 100%;
    /*border: 1px dotted black;*/
}

#csv-importer p {
    max-width: 60%;
}

.is-dismissible {
    margin:  5px 0 15px;
    padding: 10px 0 10px 15px;
}

.csv-preview {
    margin-top: 1em;
}

.csv-preview th,
.csv-preview td {
    text-align:     left;
    vertical-align: top;
    padding:  0.35em 3em 0.35em 0;
}

.csv-preview th {
    border-bottom: 1px solid black;
    /*padding-bottom: 0.5em;*/
}
.csv-preview td {
    border-bottom: 1px solid #CCCCCC;
}
.csv-preview tr:first-child td {
    /*padding-top: 0.5em;*/
}
